<!DOCTYPE html>
<html> <!--   --> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- use the width of the device's screen so it looks good -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SingleStream</title>

        <!-- To Use Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      
        <!-- Custom fonts for this template -->
        <link href="profile_resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!-- Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
        <link href="profile_resources/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- For the button that opens up the sidebar menu--> 
        <link rel="stylesheet" href="profile_resources/css/icon-font.css" type='text/css' />
          <!-- Custom css specifically for this page (not the menu and sidebar) -->
        <link href="profile_resources/css/grayscale.css" rel="stylesheet">
        <!-- Custom css file for this page (mostly the sidebar and menu)-->
        <link href="profile_resources/css/style.css" rel='stylesheet' type='text/css' /> 
        <!-- jQuery -->
        <script src="profile_resources/js/jquery-2.1.4.js"></script>
        <link href="profile_resources/css/font-awesome.css" rel="stylesheet"> 
        <!-- lined-icons -->


    </head>

<body class="sticky-header left-side-collapsed" ng-app="myApp" ng-controller="myCtrl">
  <!-- onload="initMap() --> 
    <section>
      <!-- left side start-->
    <div class="left-side sticky-left-side">

      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="/profile">Single<span>Stream</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="index.html">SS </a>
      </div>
   <!-- /w3l-agile -->



  <div class="left-side-inner">

        <!--sidebar nav start-->
        <!-- These links are dead, not sure what the actual files names will end up being -->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/profile"><i class="lnr lnr-home"></i><span>Profile</span></a></li> 
 <!--            <li><a href="/friends"><i class="camera"></i> <span>Friends</span></a></li> -->
            <li><a href="/friends"><i class="lnr lnr-users"></i> <span>Friends</span></a></li> 
            <li><a href="/playlists"><i class="lnr lnr-music-note"></i> <span>Playlists</span></a></li>           
            <li><a href="/analytics"><i class="lnr lnr-indent-increase"></i> <span>Analytics</span></a></li>
            <li><a href="/contact"><i class="lnr lnr-book"></i><span>Contact</span></a></li>
            <li><a href="/settings"><i class="settings"></i><span>Settings</span></a>
              <ul class="sub-menu-list">
                  <li><a data-toggle="modal" data-target="#myModal">Change Password</a> <li>
                  <li><a data-toggle="modal" data-target="#LocationModal">Add Location</a> </li>
                  <li><a data-toggle="modal" data-target="#PicModal">Add Profile Picture </a></li>
              </ul>
            </li>
            <li><a href="/logout"><i class="logout"></i><span>Logout</span></a></li>

            </li>
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>



  <!-- main content start-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">   
            <div class="col-md-9">
            </div>
              
                      <div class="col-md-3 login-pop">
                        <div id="loginpop"> <a href="#" id="loginButton"><span>+Add Playlist</span></a><a class="top-sign" href="#" data-toggle="modal" data-target="#myModal5"></a>

                            <div id="loginBox">  
                        <form action="#" method="post" id="loginForm">
                                  <fieldset id="body">
                                    <fieldset>
                                        <label for="email">Playlist Name</label>
                                        <input type="text" name="email" id="email">
                                    </fieldset>
                                    <input type="submit" id="login" value="Go">
                                  </fieldset>
                             </form>
                          </div>
                        </div>

                      </div>
                    <div class="clearfix"> </div>
                </div>
              </div>
          <div class="clearfix"></div>
          </div> <!-- Header Section -->

        <div id="page-wrapper">
        <div class="inner-content">
        
        <!-- END MENU AND SIDEBAR -->
        
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <!-- PAGE CONTENT GOES HERE  -->

      <!-- Intro Header -->
            <div class="container">
                <div class="row">
                    <h2 id="profileHeader">Welcome to your profile</h2>
                    <!-- LOCAL INFORMATION -->
                    <div class="col-sm-4">
                        <div class="well">
                            <h3><span class="fa fa-user"></span> Local</h3>

                            <% if (user.local.email) { %>
                                <p>
                                    <strong>Name</strong>: <%= user.local.firstName + " " + user.local.lastName %><br>
                                    <strong>Email</strong>: <%= user.local.email %><br>
                                    <strong>Bio</strong>: <%= user.local.biography %><br>
                                </p>  
                            <% } %>
                        </div>
                    </div>

                    <!-- GOOGLE INFORMATION -->
                    <div class="col-sm-4">
                        <div class="well">
                            <h3 class="text-default"><span class="fa fa-google-plus"></span> Google+</h3>

                            <!-- check if the user has this token (is the user authenticated with this social account) -->
                            <% if (user.google.refreshToken) { %>
                                <p>
                                    <strong>Refresh Token</strong>: <%= user.google.refreshToken %><br>
                                </p>
                                 <a href="/unlink/google" class="btn btn-default">Unlink</a>
                            <% } else { %>
                                <a href="/auth/google" class="btn btn-default"><span class="fa fa-google-plus"></span> Google+</a>
                            <% } if (user.error & !user.google.refreshToken) { %>
                                <p>
                                    <strong>Error:</strong> <%= user.error %><br>
                                </p>
                            <% } %>
                        </div>
                    </div>

                    <!-- NAPSTER INFORMATION -->
                    <div class="col-sm-4">
                        <div class="well">
                            <h3 class="text-default"><span class=""></span> Napster</h3>

                            <!-- check if the user has this token (is the user authenticated with this social account) -->
                            <% if (user.napster.refreshToken) { %>
                                <p>
                                    <strong>Refresh Token</strong>: <%= user.napster.refreshToken %><br>
                                </p>
                                <a href="/unlink/napster" class="btn btn-default">Unlink</a>
                            <% } else { %>
                                <a href="/auth/napster" class="btn btn-default"><span class="fa fa-headphones"></span> Napster</a>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>

        <!-- END PAGE CONTENT -->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      </div>
      </div>
       <!-- <div id="page-end"> -->
 
    </div> <!--End main content -->

  </section>


<!-- Additional Scripts -->
<script src="profile_resources/js/jquery.nicescroll.js"></script>
<script src="profile_resources/js/scripts.js"></script>
<script src="profile_resources/js/bootstrap.js"></script>


</body>

<script>

//This grabs the word you searched
document.getElementById('search-form').addEventListener('submit', function(e) {

  console.log(document.getElementById('query').value); //prints the query to the conosle

  //alert(document.getElementById('query').value); //alerts the window of the query

  document.getElementById("audio-player").innerHTML = '<audio id="audio-player"  controls="controls">' + '<source src="' + media/breathe.mp3 + '" type="audio/mpeg"></source>' + '</audio>'

}, false);


 function myFunction() {
  // document.getElementById("audio-player").innerHTML = '<audio id="audio-player"  controls="controls">' + '<source src="' + 'media/breathe.mp3' + '" type="audio/mpeg"></source>' + '</audio>';
  //document.getElementById("audio-player").innerHTML = '<p>yo</p>';
  console.log(document.getElementById("audio-player"));
 }

</script>

<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.song = 'bdaysx';
    $scope.myHTML = 'src="media/"' + 'bdaysx' + '.mp3" type="audio/mpeg">'
    // <input id="button" type="submit" name="button" value="Change Song" onclick="myFunction();"/>
});


</script>




</html>
